/* src/Navbar.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #dea8ee;
  color: #0d0d0d;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #0d0d0d;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.login-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.signup-button {
  background-color: #ff9800;
  color: #fff;
  border: none;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #dea8ee;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .menu-icon {
    display: block;
  }

  .auth-buttons {
    flex-direction: column;
    margin-top: 1rem;
  }

  .auth-buttons button {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
